@font-face {
	font-family: 'Nothing You Could Do';
	src: url('/assets/fonts/NothingYouCouldDo.woff2') format('woff2'), url('/assets/fonts/NothingYouCouldDo.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
html,
body {
	position: relative;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #292929;
	color: #eaedf3;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	font-size: 1rem;
}
section {
	display: flex;
	justify-content: center;
}
article {
	width: 100%;
	max-width: 42rem;
	display: flex;
	justify-content: center;
}
@media (max-width: 576px) {
	article {
		flex-direction: column;
		align-items: center;
		gap: 28px;
	}
}
p {
	font-size: 20px;
	line-height: 28px;
	font-weight: 200;
	margin-top: 0;
}
a {
	color: #eaedf3;
	text-decoration: none;
	position: relative;
	z-index: 1;
	white-space: nowrap;
}
a:focus, a:hover, a:active {
	color: #292929;
}
a:before,
li a:before{
	content: '';
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	z-index: -1;
	background-color: #a0daa9;
	transition: 0.2s;
	transition-property: bottom;
}
a:hover:before,
li a:hover:before{
	height: calc( 100% + 2px );
	bottom: 0px;
	background-color: #a0daa9;
	margin-left: -3px;
	margin-right: -2px;
	z-index: -1;
}
.profile {
	padding: 256px 12px;
}
@media (max-width: 320px) {
	.profile {
		padding: 128px 12px;
	}
}
.profile__avatar {
	position: relative;
	margin-right: 2rem;
	z-index: 1;
}
.tooltip::after {
	position: absolute;
	content: attr(data-tooltip);
	font-size: 14px;
	opacity: 1;
	top: calc( -100% - 10px );
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
	background-color: #a0daa9;
	padding: 2px 5px;
	opacity: 0;
	transition: all .2s ease;
}
.tooltip:focus::after,
.tooltip:active::after,
.tooltip:hover::after {
	opacity: 1;
	z-index: 1992;
}
.avatar {
	border-radius: 100%;
	overflow: hidden;
}
.its-my-party-and-i-ll-cry-if-i-want-to:before {
	position: absolute;
	content: '';
	background-image: url('/assets/media/party-hat.svg');
	width: 18px;
	height: 30px;
	transform: rotate(-13deg);
	top: -18px;
	left: 23px;
}
.one-of-aprils-jokes:before {
	position: absolute;
	content: '';
	background-image: url('/assets/media/super-party-hat.svg');
	width: 30px;
	height: 30px;
	transform: rotate(-13deg);
	top: -11px;
	left: -7px;
}
aside, footer {
	font-weight: 100;
	font-size: 14px;
	display: flex;
	gap: 8px;
	justify-content: center;
}
aside {
	position: absolute;
	top: 8px;
	left: 0;
	right: 0;
	flex-direction: row;
	flex-wrap: wrap;
}
@media (max-width: 320px) {
	aside {
		flex-wrap: wrap;
	}
}
footer {
	position: sticky;
	top: 100vh;
	padding-bottom: 8px;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.social {
	color: #acacac;
}
.social:visited,
.social:active,
.social:focus{
	color: #acacac;
}
.social:before {
	display: none;
}
.github:hover {
	color: #fff;
}
.twitter:hover {
	color: #1d9bf0;
}
.spotify:hover{
	color: #1ED760;
}
.stackoverflow:hover .stack {
	fill: #BCBBBB;
}
.stackoverflow::after {
	position: absolute;
	content: attr(data-reputation);
	top:  0;
	left: 50%;
	transform: translate(-50%);
	opacity: 0;
	z-index: 0;
}
.stackoverflow:hover::after {
	top: 100%;
	opacity: 1;
	transition-delay: 1s;
	transition-duration: .5s;
	transition-timing-function: ease;
	color: #a0daa9;
}
.stackoverflow:hover .overflow {
	fill: #F48024;
}
.open-collective:hover .collective {
	fill: #8FC7FF;
}
.open-collective:hover .open {
	fill: #297EFF;
}
.linkedin:hover {
	color: #0a66c2;
}
.bunq:hover{
	color: #34cc8d;
}
.soundcloud:hover {
	color: #f50;
}
.instagram:hover svg {
	fill: url(#hover);
}
.instagram:hover #insta{
	fill: url(#gradient);
}
#path4528 {
	stroke: #000;
}
#path4524,
#path4528,
#path4536,
#path4552,
#path4560,
#path4568 {
	fill: transparent;
}
.keybase:hover #path4524 {
	fill:#33a0ff;
}
.keybase:hover #path4528 {
	fill:#3dcc8e;
}
.keybase:hover #path4532 {
	fill:#282828;
}
.keybase:hover #path4536 {
	fill:#ffffff;
}
.keybase:hover #path4540 {
	fill:#282827;
}
.keybase:hover #path4544 {
	fill:#282827;
}
.keybase:hover #path4548 {
	fill:#282827;
}
.keybase:hover #path4552 {
	fill:#ff6f21;
}
.keybase:hover #path4556 {
	fill:#282827;
}
.keybase:hover #path4560 {
	fill:#ff6f21;
}
.keybase:hover #path4564 {
	fill:#282827;
}
.keybase:hover #path4568 {
	fill:#3dcc8e;
}
.keybase:hover #path4572 {
	fill:#282828;
}
.text {
	font-family: 'Nothing You Could Do', cursive;
	opacity: 0.5;
	text-align: center;
	padding: 5rem 0;
}
.blog {
	flex-direction: column;
	align-items: center;
	padding: 0;
}
article{
	margin-bottom: 64px;
}
article figure {
	margin: 0 0 16px 0;
}
figure img{
	width: 100%;
	height: auto;
	border-radius: 16px;
	overflow: clip;
}
.post-meta{
	display: flex;
	flex-direction: row;
	gap: 8px;
	font-size: 14px;
	font-weight: 200;
}
.little-green-square {
	background-color: #78B159;
	height: 12px;
	width: 12px;
	border-radius: 3px;
}
.little-black-square {
	background-color: #31373D;
	height: 12px;
	width: 12px;
	border-radius: 3px;
}
#canvas {
	position: fixed;
	top: 50%;
	left: 0;
	z-index: 0;
}
.doesnotexist {
	position: absolute;
	right: 16px;
	left: unset;
	flex-direction: column;
	align-items: end;
	text-align: right;
}
@media (max-width: 320px){
	.doesnotexist {
		display: none;
	}
}
aside.doesnotexist ul {
	position: relative;
	height: 0;
	overflow: clip;
	transition: 0.2s;
	transition-property: top;
	top: 2px;
}
aside.doesnotexist:hover ul {
	height: calc( 100% + 2px );
	top: 0;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
li {
	line-height: 28px;
}
.text-gradient {
	background-image: linear-gradient(to right, #a0daa9, #607d8b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: fit-content;
}
.wttvn {
	color: #292929;
	font-weight: 700;
	font-size: 200px;
	text-align: center;
	line-height: 1;
	font-family: Constantia, serif;
}
.wttvn span {
	-webkit-mask-image: url('/assets/media/blob.svg');
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: 0 83%;
	-webkit-mask-size: 48px;
	background-color: #a0daa9;
	color: #a0daa9;
	width: 48px;
	height: 48px;
	position: relative;
	display: inline;
	line-height: 1;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	line-height: 28px;
}

header {
	position: absolute;
	top: 0;
	right: 16px;
	left: 16px;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: space-evenly;
	text-align: center;
	z-index: 1000;
}

nav {
	display: flex;
	flex-direction: row;
	gap: 14px;
}

.map {
	min-height: 500px;
	width: 100%;
	z-index: 10;
	border: 1px solid #dfdfdf;
	box-shadow: 0 3px 11px -10px #000;
}

.routes{
	width: 100%;
	max-width: 960px;
	padding-bottom: 45px;
}

code {
	white-space: nowrap;
}

table {
	margin-bottom: 16px;
}

q {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translateX(-50%) translateY(-50%);
}
.youtube:hover {
	color: #FF0000;
}
.twitch:hover,
.twitch:hover .head,
.twitch:hover .eyes {
	color: #a970ff;
}
.twitch .face {
	fill: #292929;
}
.twitch:hover .face{
	fill: #fff;
}
